<%- include('../baseHeader') -%>
<div class="container main-content my-5">
  <!-- Title -->
  <h1 class="mb-4">
    User Manager
  </h1>

    <div class="row mb-3 align-items-center mt-5">
      <div class="col d-flex justify-content-center justify-content-md-start">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/admin" class=" d-flex align-items-center text-decoration-none bold">
                <span class="material-symbols-outlined me-2">arrow_back</span>
                Back to Admin Dashboard
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="col text-center text-md-end mt-3 mt-md-0">
        <button type="button" data-bs-toggle="modal" data-bs-target="#addUserModal" 
          class="btn btn-12 btn-ds-primary">
          Add a User
        </button>
      </div>
    </div>
  
  <!-- Models Table -->
  <div class="table-container">
    <table class="table model-table table-striped table-hover">
      <thead>
        <tr class="bg-ds-secondary">
          <th class="text-white">Username</th>
          <th class="text-white">First Name</th>
          <th class="text-white">Last Name</th>
          <th class="text-white">Email</th>
          <th class="text-white">Password</th>
          <th class="text-white">Admin</th>
          <th class="text-white">Edit</th>
          <th class="text-white">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Users -->
        <% users.forEach(function(usr) { %>
        <tr>
          <td><%= usr.username %></td>
          <td><%= usr.firstName %></td>
          <td><%= usr.lastName %></td>
          <td><%= usr.email %></td>
          <td>[Edit user to reset]</td>
          <td>
          <% if (usr.admin) { %>
            <span class="material-symbols-outlined" style="cursor: pointer;">
              check
            </span>
          <% } %>
          <td>
            <button type="button" class="btn"
              data-bs-toggle="modal" data-bs-target="#editUser<%= usr.id %>">
              <span class="material-symbols-outlined">
                edit
              </span>
            </button>
          </td>
          <td>
            <button type="button" class="btn"
              data-bs-toggle="modal" data-bs-target="#deleteUser<%= usr.id %>">
              <span class="material-symbols-outlined">
                delete
              </span>
            </button>
          </td>
          <% }); %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" name="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addUserModal">Add User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" target="_parent" action="/admin/user/add">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="firstName" class="bold">First Name
                  <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lastName" class="bold">Last Name
                  <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="bold">Username
              <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="username" name="username" maxlength="10">
          </div>
          <div class="form-group">
            <label for="email" class="bold">Email
              <span class="required-field">*</span>
            </label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password" class="bold">Password
              <span class="required-field">*</span>
            </label>
            <input type="password" class="form-control" id="password" name="password" placeholder="">
            <small><span class="fw-medium">Password must</span>
              <ul class="mb-0">
                <li>Contain at least 8 characters</li>
                <li>Contain no more than 20 characters</li>
                <li>Contain at least 1 upper case letter</li>
                <li>Contain at least 1 number</li>
                <li>Contain at least 1 special character</li>
              </ul>
            </small>
          </div>
          <div class="form-group">
            <label for="password" class="bold">Confirm Password
              <span class="required-field">*</span>
            </label>
            <input type="password" class="form-control" id="passwordConf" name="passwordConf" placeholder="">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="admin" name="admin">
            <label class="form-check-label" for="admin">
              Make user a system admininistrator
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-ds-primary">Add User</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit User Modals -->
<% users.forEach(function(usr) { %>
<div class="modal fade" id="editUser<%= usr.id %>" name="editUserModal" 
  tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="editUserModal">Delete User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <form method="POST" target="_parent" action="/admin/user/edit/<%= usr.id %>">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="firstName" class="bold">First Name
                  <span class="required-field">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="firstName" 
                  name="firstName" 
                  value="<%= usr.firstName %>" 
                  required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lastName" class="bold">Last Name
                  <span class="required-field">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="lastName" 
                  name="lastName" 
                  value="<%= usr.lastName %>" 
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="bold">Username
              <span class="required-field">*</span>
            </label>
            <input 
              type="text" 
              class="form-control" 
              id="username" 
              name="username" 
              value="<%= usr.username %>"
              maxlength="10">
          </div>
          <div class="form-group">
            <label for="email" class="bold">Email
              <span class="required-field">*</span>
            </label>
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              name="email" 
              value="<%= usr.email %>"
              required>
          </div>
          <div class="form-group">
            <label for="password" class="bold">Current Password</label>
            <input type="password" class="form-control" id="current_password" name="current_password">
            <small><span class="fw-medium">Password must</span>
              <ul class="mb-0">
                <li>Contain at least 8 characters</li>
                <li>Contain no more than 20 characters</li>
                <li>Contain at least 1 upper case letter</li>
                <li>Contain at least 1 number</li>
                <li>Contain at least 1 special character</li>
              </ul>
            </small>
          </div>
          <div class="form-group">
            <label for="password" class="bold">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="">
          </div>
          <div class="form-group">
            <label for="password" class="bold">Confirm Password
            </label>
            <input type="password" class="form-control" id="passwordConf" name="passwordConf" placeholder="">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="admin" name="admin"
              value="<%= usr.admin %>"
              <% if (usr.admin) { %>
                checked
              <% } %>
              >
            <label class="form-check-label" for="admin">
              Make user an admin
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-ds-primary">Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% }); %>

<!-- Delete User Modals -->
<% users.forEach(function(usr) { %>
<div class="modal fade" id="deleteUser<%= usr.id %>" name="deleteUserModal" 
  tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="deleteUserModal">Delete User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <%= usr.firstName %> <%= usr.lastName %>? 
          <strong>This action cannot be undone.</strong>
        </p>
      </div>
      <div class="modal-footer">
        <form method="POST" target="_parent"
          action="/admin/user/delete/<%= usr.id %>">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% }); %>
<%- include('../baseFooter') -%>