<%- include('../baseHeader') -%>
<!-- Main Pages -->
<div class="container main-content my-5">
  <h1>
    <% if (document) { %> 
    Edit Document
    <% } else { %>
    Create Document
    <% } %>
  </h1>
  
  <!-- Breadcrumb Nav -->
  <%- include('../snippets/breadcrumbs.ejs') -%>

  <!-- Card -->
  <div class="card shadow-sm">
    <div class="card-body">
      <!-- Tabs -->
      <ul class="nav nav-tabs" id="assetsTablist" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link active" id="properties-tab" 
            data-bs-toggle="tab" data-bs-target="#properties-pane" type="button" 
            role="tab" aria-controls="properties-tab" aria-selected="true">
            Properties
          </button>
        </li>
        <% if (document) { %> 
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="pages-tab" 
            data-bs-toggle="tab" data-bs-target="#pages-pane" type="button" 
            role="tab" aria-controls="pages-tab" aria-selected="false">
            Pages
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="trash-tab" 
            data-bs-toggle="tab" data-bs-target="#trash-pane" type="button" 
            role="tab" aria-controls="trash-tab" aria-selected="false">
            Trash
          </button>
        </li>
        <% } %>
      </ul>
      <form>
        <div class="row gy-4">
          <!-- Tab Panels -->
          <div class="col-12 col-md-8 col-xxl-9">
            <div class="tab-content mt-3" id="tabPages">
              <!-- Properties -->
              <div class="tab-pane fade show active" id="properties-pane" 
                role="tabpanel" aria-labelledby="properties-pane">
                <div class="form-group row">
                  <label for="title" class="col-sm-2 col-form-label bold">Title</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" 
                    <% if (document)  { %>
                      value="<%= document.title %>"
                    <% }; %>
                    placeholder="Enter title">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="slug" class="col-sm-2 col-form-label bold">Slug</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="slug" name="slug" 
                    <% if (project)  { %>
                      value="<%= project.slug %>"
                    <% }; %>
                    placeholder="Enter slug">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label bold">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="description" rows="3"
                      placeholder="Enter description"
                      <% if (document)  { %>
                        ><%= document.description %></textarea>
                      <% } else { %>
                        ></textarea>
                      <% }; %>
                    <small class="bold">* Markdown-enabled field</small>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <label for="landingPage" class="col-sm-2 col-form-label bold">Landing Page</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="summaryPage" name="landingPage"
                      <% if (document.landingPage) { %>
                        checked
                      <% } %>
                      >
                      <label class="form-check-label" for="summaryPage">
                        Start the document on a summary page. If unchecked, the 
                        document's landing page will be the first page of the 
                        document.
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Pages -->
              <div class="tab-pane fade" id="pages-pane" role="tabpanel" 
                aria-labelledby="pages-pane">
                <% if (document && document.pages && document.pages.length > 0) { %>
                  <!-- Pages List -->
                  <ul class="list-group">
                    <% document.pages.forEach(function(page) { %>
                      <!-- Page Cards -->
                      <%- include('../snippets/page-list-item.ejs') -%>
                    <% }); %>  
                  </ul> 
                <% } else { %>
                <p>There are no pages.</p>
                <% } %>  
                <% if (document) { %>
                <a href="/project/<%= project.slug %>/<%= document.slug %>/page/create/" 
                  role="button" class="btn btn-12 btn-ds-primary">
                  Add a Page
                </a>   
                <% } %>          
              </div>
              <!-- Trash -->
              <div class="tab-pane fade" id="trash-pane" role="tabpanel" 
                aria-labelledby="trash-pane">
                <div class="table-responsive"> 
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="bold">Title</th>
                        <th class="bold">Date Deleted</th>
                        <th class="bold">Deleted by</th>
                        <th class="bold">Date Created</th>
                        <th class="bold">Created by</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (document && document.pages && document.pages.length > 0) { %>
                        <% document.pages.forEach(function(page) { %>
                          <% if (page.deleted) { %>
                            <tr>
                              <td><%= page.title %></td>
                              <td><%= page.deletedDate %></td>
                              <td><%= page.deletedBy %></td>
                              <td><%= page.createdDate %></td>
                              <td><%= page.createdBy %></td>
                            </tr>
                          <% } %>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-xxl-3 relative" id="action-panel">
            <div class="card mt-3" id="action-buttons">
              <div class="card-body">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button type="submit" class="btn btn-block btn-outline-success">Save Document</button>
                  <% if (document) { %>
                  <button type="button" class="btn btn-block btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteDocumentModal">Delete Document</button>
                  <a href="/project/<%= project.slug %>/<%= document.slug %>"
                    role="button" class="btn btn-block btn-outline-secondary">View Document</button>
                  <% } %>
                </div>
                <div class="form-check form-switch mt-2">
                  <input class="form-check-input" type="checkbox" role="switch" id="public">
                  <label class="form-check-label bold" for="public">Make document public</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Document Modal -->
<% if (document) { %>
  <%- include('../snippets/delete-document-modal.ejs') -%>
<% } %>  
  
<%- include('../baseFooter') -%>
