<%- include('../baseHeader') -%>
<!-- Main Pages -->
<div class="container main-content my-5">
  <h1>
    <% if (document) { %> 
    Edit Document
    <% } else { %>
    Create Document
    <% } %>
  </h1>
  
  <!-- Breadcrumb Nav -->
  <%- include('../snippets/breadcrumbs-edit.ejs') -%>

  <!-- Card -->
  <div class="card shadow-sm">
    <div class="card-body">
      <!-- Tabs -->
      <ul class="nav nav-tabs" id="assetsTablist" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link active" id="properties-tab" 
            data-bs-toggle="tab" data-bs-target="#properties-pane" type="button" 
            role="tab" aria-controls="properties-tab" aria-selected="true">
            Properties
          </button>
        </li>
        <% if (document) { %> 
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="pages-tab" 
            data-bs-toggle="tab" data-bs-target="#pages-pane" type="button" 
            role="tab" aria-controls="pages-tab" aria-selected="false">
            Pages
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="trash-tab" 
            data-bs-toggle="tab" data-bs-target="#trash-pane" type="button" 
            role="tab" aria-controls="trash-tab" aria-selected="false">
            Trash
          </button>
        </li>
        <% } %>
      </ul>
      <% if (document) { %>
        <form id="documentForm" method="POST" action="/document/edit/<%= document.id %>">
      <% } else { %>
        <form id="documentForm" method="POST" 
        action="/document/create/<%= project.id %>">
      <% } %>
        <div class="row gy-4">
          <!-- Tab Panels -->
          <div class="col-12 col-md-8 col-xxl-9">
            <div class="tab-content mt-3" id="tabPages">
              <!-- Properties -->
              <div class="tab-pane fade show active" id="properties-pane" 
                role="tabpanel" aria-labelledby="properties-pane">
                <div class="form-group row">
                  <label for="title" class="col-sm-2 col-form-label bold">
                    Title<span class="required">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" 
                    <% if (document)  { %>
                      value="<%= document.title %>"
                    <% }; %>
                    placeholder="Enter title">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="slug" class="col-sm-2 col-form-label bold">
                    Slug<span class="required">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="slug" name="slug" 
                    <% if (document)  { %>
                      value="<%= document.slug %>"
                    <% }; %>
                    placeholder="Enter slug">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label bold">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="description" rows="3"
                      placeholder="Enter description"
                      <% if (document)  { %>
                        ><%= document.description %></textarea>
                      <% } else { %>
                        ></textarea>
                      <% }; %>
                    <small class="bold">* Markdown-enabled field</small>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <label for="landingPage" class="col-sm-2 col-form-label bold">Landing Page</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="landingPage" name="landingPage"
                      <% if (document && document.landingPage) { %>
                        checked
                      <% } %>
                      >
                      <label class="form-check-label" for="landingPage">
                        Start the document on a summary page. If unchecked, the 
                        document's landing page will be the first page of the 
                        document.
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Pages -->
              <div class="tab-pane fade" id="pages-pane" role="tabpanel" 
                aria-labelledby="pages-pane">
                <% if (document && document.pages && document.pages.length > 0) { %>
                  <!-- Pages List -->
                  <ul class="card-list mt-2">
                    <% document.pages.forEach(function(page) { %>
                      <% if (!page.deleted) { %>
                        <li class="mb-2">
                          <div class="card">
                            <div class="card-body py-1">
                              <!-- Drag Icon -->
                              <div class="row gy-2">
                                <div class="col-1">
                                  <span data-bs-toggle="tooltip" 
                                    data-bs-title="Drag and drop page to change order" 
                                    data-bs-custom-class="ds-tooltip" 
                                    class="material-symbols-outlined">
                                    drag_handle
                                  </span>
                                </div>
                                <!-- Page Title -->
                                <div class="col-11 d-flex align-items-center">
                                  <span data-bs-toggle="tooltip" data-bs-title="Page" 
                                    data-bs-custom-class="ds-tooltip" class="material-symbols-outlined me-2">
                                    description
                                  </span>
                                  <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.slug %>/edit"><%= page.title %></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      <% }; %>  
                    <% }); %>  
                  </ul> 
                <% } else { %>
                <p>There are no pages.</p>
                <% } %>  
                <% if (document) { %>
                <a href="/project/<%= project.slug %>/<%= document.slug %>/page/create/" 
                  role="button" class="btn btn-12 btn-ds-primary">
                  Add a Page
                </a>   
                <% } %>          
              </div>
              <!-- Trash -->
              <div class="tab-pane fade" id="trash-pane" role="tabpanel" 
                aria-labelledby="trash-pane">
                <div class="table-responsive"> 
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="bold">Title</th>
                        <th class="bold">Date Deleted</th>
                        <th class="bold">Deleted by</th>
                        <th class="bold">Date Created</th>
                        <th class="bold">Created by</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (document && document.pages && document.pages.length > 0) { %>
                        <% let trash = false; %>
                        <% document.pages.forEach(function(page) { %>
                          <% if (page.deleted) { %>
                            <% trash = true %>
                            <tr>
                              <td>
                                <input class="form-check-input" type="checkbox" name="selectedPages" value="<%= page._id %>">
                              </td>
                              <td><%= page.title %></td>
                              <td><%= moment(page.deletedDate).format('MMM D, YYYY') %></td>
                              <td><%= page.deletedBy.firstName %> <%= page.deletedBy.lastName %></td>
                              <td><%= moment(page.createdDate).format('MMM D, YYYY') %></td>
                              <td><%= page.createdBy.firstName %> <%= page.createdBy.lastName %></td>
                            </tr>
                          <% } %>
                        <% }); %>
                    </tbody>
                  </table>
                </div>
                <!-- Manage Trash Buttons -->
                <% if (trash) { %>
                <div class="row gy-3 justify-content-center justify-content-md-start">
                  <div class="col-auto">
                    <button type="button" id="restorePageBtn" class="btn btn-12 btn-ds-primary"
                      onclick="restorePages()">
                      Restore selected
                    </button>
                  </div>
                  <div class="col-auto">
                    <button type="button" id="deletePageBtn" class="btn btn-12 btn-ds-tertiary"
                      data-bs-toggle="modal" data-bs-target="#deletePagesModal">
                      Delete selected
                    </button>
                  </div>
                </div>
                <% } %>
                <% } %>
              </div>
            </div>
          </div>
          <!-- Delete Pages Modal -->
          <div class="modal fade" id="deletePagesModal" name="deletePagesModal" 
            tabindex="-1" aria-labelledby="deletePageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5"
                    id="deletePageModal">Delete Selected Pages</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete all of the selected pages? 
                    <strong>This action cannot be undone.</strong>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger" onclick="deletePages()">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Action Panel -->
          <div class="col-12 col-md-4 col-xxl-3 relative" id="action-panel">
            <div class="card mt-2 mt-md-3" id="action-buttons">
              <div class="card-body">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button type="submit" class="btn btn-block btn-outline-success">Save Document</button>
                  <% if (document) { %>
                  <button type="button" class="btn btn-block btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteDocumentModal">Delete Document</button>
                  <a href="/project/<%= project.slug %>/<%= document.slug %>"
                    role="button" class="btn btn-block btn-outline-secondary">View Document</button>
                  <% } %>
                  </a>
                </div>
                <div class="form-check form-switch mt-2">
                  <input class="form-check-input" type="checkbox" role="switch" id="isPublic" name="isPublic">
                  <label class="form-check-label bold" for="isPublic">Make document public</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Document Modal -->
<% if (document) { %>
  <%- include('../snippets/delete-document-modal.ejs') -%>

  <script>
    function restorePages() {
      document.getElementById('documentForm').action = '/document/restore-pages/<%= document._id %>';
      document.getElementById('documentForm').submit();
    }
    
    function deletePages() {
      document.getElementById('documentForm').action = '/document/delete-pages/<%= document._id %>';
      document.getElementById('documentForm').submit();
    }  
  </script>
<% } %>  
  
<%- include('../baseFooter') -%>
