<% function truncate(str, maxLength) {
  if (str.length > maxLength) {
      return str.slice(0, maxLength) + '...';
  } else {
      return str;
  }
} %>

<%- include('../baseHeader') -%>
<!-- Main Content -->
<div class="container main-content my-5">
  <h1>
    Projects
  </h1>
  
<!-- Browse by Tag  -->
<div class="card h-100 shadow-sm">
  <div class="card-body">
    <h2 class="fs-6 text-uppercase light">
      Browse Projects by Tag
    </h2>
    <% if (tags && tags.length > 0) { %>
      <% tags.forEach(function(tag) { %>
        <% if (tag.numProjects > 0) { %>
        <a href="/tag/<%= tag.slug %>" 
          class="badge badge-tag bg-ds-secondary">
          <%= tag.title %>
          <span class="badge bg-ds-tertiary"><%= tag.numProjects %></span>
        </a>
        <% } %>
      <% }); %>  
    <% } %>
    </div>
</div>


<!-- Second Section -->
<hr class="my-4">
<!-- <div class="row gy-4"> -->
  <!--Filters-->
  <!-- <div class="col-md col-lg-4">
  </div> -->

  <!-- Project Cards-->
  <!-- <div class="col-md col-lg-8"> -->
  <p><em><%= projects.length %> projects</em></p>
  <div class="row gy-4">
    <% projects.forEach(function(project) { %>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-sm">
        <div class="card-header">
          <div class="row">
            <% if (user) { %>
            <div class="col-10">
              <span class="bold">Created by: </span> 
              <a href="/profile/<%= project.createdBy.username %>"><%= project.createdBy.username %></a>
            </div>
            <div class="col-2 text-end">
              <% const isPinned = user.pinnedProjects.includes(project._id)  %>
              <% if (isPinned) { %>
              <a href="/unpin/<%= project._id %>" data-bs-toggle="tooltip" 
                data-bs-placement="top" data-bs-title="Unpin project"><span 
                class="material-symbols-outlined">keep_off</span></a>
              <% } else { %>
              <a href="/pin/<%= project._id %>" data-bs-toggle="tooltip" 
                data-bs-placement="top" data-bs-title="Pin project"><span 
                class="material-symbols-outlined">keep</span></a>
              <% } %>
            </div>  
          <% } else { %>
            <div class="col">
              <span class="bold">Created by: </span> 
              <a href="/profile/<%= project.createdBy.username %>"><%= project.createdBy.username %></a>
            </div>
          <% } %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="/project/<%= project.slug %>"><%= project.title %></a>
          </h5>
          <h6 class="card-subtitle">
            <%= project.subtitle %>
          </h6>
          <p class="card-text mt-2">
            <%- truncateHtml(project.description, 250) %>
          </p>
          <% if (project.tags && project.tags.length > 0) { %>
            <div class="my-3">
              <span class="fw-bold">Tags:</span>
            <% project.tags.forEach(function(tag) { %>
              <a href="/tag/<%= tag.slug %>" 
                class="badge badge-tag bg-ds-secondary">
                <%= tag.title %>
              </a>
            <% }); %>  
            </div>
          <% } %>
          <p class="card-text mt-2">
            <strong>Last modified</strong>: <%= project.dateModified %>
          </p>
        </div>
        <div class="card-footer border-top-0 mb-2 bg-white">
          <a class="btn btn-ds-primary" href="/project/<%= project.slug %>">View Project</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<%- include('../baseFooter') -%>