<%- include('../baseHeader') -%>
<!-- Project Top Navbar -->
<nav class="navbar d-xl-none bg-ds-secondary" data-bs-theme="dark">
  <div class="container">
    <div class="row w-100 gx-0">
      <div class="col-auto" id="navbar-toggler">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
          aria-controls="offcanvasMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col" id="search">
        <form method="POST" class="d-flex justify-content-end ms-2" role="search" action="/project/search">
          <input
            class="form-control me-2 bg-white border-ds-primary"
            type="keywords"
            name="keywords"
            placeholder="Search the documentation"
            aria-label="Search">
          <button class="btn btn-ds-outline-primary"
            data-bs-toggle="tooltip" data-bs-placement="bottom" 
            data-bs-title='Search' type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="sideNav">
      <!-- Your navbar content here -->
    </div>
  </div>
</nav>
  
<!-- Offcanvas Navbar -->
<div class="offcanvas offcanvas-start bg-ds-secondary" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <img src="https://cdn.glitch.global/7b5eb0c7-6676-473b-a061-efb01c2ba784/Docusourcery-Logo-large-V4-green-stars-no-texture.png?v=1713313695844" 
             alt="DocuSourcery logo" width="50" class="d-inline-block align-text-center">
    <h1 class="fs-1 offcanvas-title" id="offcanvasMenuLabel">DocuSourcery</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%- include '../snippets/project-nav-items.ejs' -%>
  </div>
</div>

<!-- Main Project Navbar & Content-->
<div class="container">
  <div class="row">
    <!-- Project Side Navbar -->
    <div class="col-xl-2 project-nav text-wrap py-5 .d-none .d-xl-block border-end">
      <%- include '../snippets/project-nav-items.ejs' -%>
    </div>
    <!-- Main Content --> 
    <div class="col-12 col-xl-10">
      <div class="container p-5">
        <!-- Breadcrumb Nav-->
        <%- include('../snippets/breadcrumbs.ejs') -%>

        <h1 class="text-start light">
         CaD@Pitt Documentation
        </h1>
        <div>
          The CaD@Pitt project is based in the University of Pittsburgh Library System and aims to increase the visibility and discoverability of library collections, make library collections data accessible for computational use, and enable scholars to extend/enrich collections data with critical, research-driven layers of additional data.
        </div>
        <hr>
        <h2 class="fs-6 text-uppercase light">
          Table of Contents
        </h2>
        <p>
          
        </p>
      </div>  
    </div>
    <!-- Section Nav -->
<!--     <div class="col-xl-2 project-nav text-wrap .d-none .d-xl-block border-start">
    </div>  -->
  </div>
</div>
<%- include('../baseFooter') -%>