<%- include('../baseHeader') -%>
<!-- Main Content -->
<div class="container main-content my-5">
  <h1>
    <% if (project) { %> 
    Manage Project
    <% } else { %>
    Create Project
    <% } %>
  </h1>
  
  <!-- Breadcrumb Nav-->
  <%- include('../snippets/breadcrumbs.ejs') -%>

  <!-- Card -->
  <div class="card shadow-sm">
    <div class="card-body">
      <!-- Tabs -->
      <ul class="nav nav-tabs" id="assetsTablist" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link active" id="properties-tab" 
            data-bs-toggle="tab" data-bs-target="#properties-pane" type="button" 
            role="tab" aria-controls="properties-tab" aria-selected="true">
            Properties
          </button>
        </li>
        <% if (project) { %> 
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="content-tab" 
            data-bs-toggle="tab" data-bs-target="#content-pane" type="button" 
            role="tab" aria-controls="content-tab" aria-selected="false">
            Content
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="trash-tab" 
            data-bs-toggle="tab" data-bs-target="#trash-pane" type="button" 
            role="tab" aria-controls="trash-tab" aria-selected="false">
            Trash
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab-link" id="users-tab"  
            data-bs-toggle="tab" data-bs-target="#users-pane" type="button" 
            role="tab" aria-controls="users-tab" aria-selected="false">
            Users
          </button>
        </li>
        <% } %> 
      </ul>
      <form id="projectForm" method="POST" action="/project/create">
        <div class="row gy-4">
          <!-- Tab Panels -->
          <div class="col-12 col-md-8 col-xxl-9">
            <div class="tab-content mt-3" id="tabContent">
              <!-- Properties -->
              <div class="tab-pane fade show active" id="properties-pane" 
                role="tabpanel" aria-labelledby="properties-pane">
                <div class="form-group row">
                  <label for="title" class="col-sm-2 col-form-label bold">Title</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title" 
                    <% if (project)  { %>
                      value="<%= project.title %>"
                    <% }; %>
                    placeholder="Enter title">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="subtitle" class="col-sm-2 col-form-label bold">Subtitle</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="subtitle" id="subtitle" 
                    <% if (project)  { %>
                      value="<%= project.subtitle %>"
                    <% }; %>
                    placeholder="Enter subtitle">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="slug" class="col-sm-2 col-form-label bold">Slug</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="slug" id="slug" 
                    <% if (project)  { %>
                      value="<%= project.slug %>"
                    <% }; %>
                    placeholder="Enter slug">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label bold">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description" 
                      rows="3" placeholder="Enter description"
                      <% if (project)  { %>
                        ><%= project.description %></textarea>
                      <% } else { %>
                        ></textarea>
                      <% }; %>
                  <small class="bold">* Markdown-enabled field</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label bold">Tags</label>
                  <div class="col-sm-10">
                    <input type="text" name="tags" id="tags" class="form-control" 
                    <% if (project.tags && Array.isArray(project.tags) && project.tags.length > 0) { %>
                      value="<% var tagTitles = project.tags.map(function(tag) { return tag.get('title'); }).join(','); %><%= tagTitles %>"
                    <% }; %>
                    placeholder="Enter tags">
                  </div>
                  <small class="bold">Separate tags with commas and no spaces.</small>
                </div>                
                <div class="form-group row mb-0">
                  <label class="col-sm-2 col-form-label bold">Permissions</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="noLogin" 
                      id="noLogin"
                      <% if (project.noLogin) { %>
                        checked
                      <% } %>
                      >
                      <label class="form-check-label" for="noLogin">No login required</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="canDuplicate" 
                      id="canDuplicate"
                      <% if (project.duplicatable) { %>
                        checked
                      <% } %>
                      >
                      <label class="form-check-label" for="canDuplicate">Can be duplicated by you and others</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Content -->
              <div class="tab-pane fade" id="content-pane" role="tabpanel" 
                aria-labelledby="content-pane">
                <% if (project && project.documents && project.documents.length > 0) { %>
                  <!-- Documents List -->
                  <ul class="list-group">
                    <% project.documents.forEach(function(document) { %>
                      <!-- Document Cards -->
                      <li class="card-list mb-3">
                        <div class="card">
                          <div class="card-body py-1">
                            <div class="row gy-2 d-flex align-items-center">
                              <div class="col-1">
                                <span class="material-symbols-outlined">
                                  drag_handle
                                </span>
                              </div>
                              <!-- Document Title -->
                              <div class="col-11 d-flex align-items-center">
                                <span data-bs-toggle="tooltip" 
                                  data-bs-title="Drag and drop document to change order" 
                                  data-bs-custom-class="ds-tooltip"
                                  class="material-symbols-outlined me-2">
                                  folder_open
                                </span>
                                <a href="project/<%= project.slug %>/<%= document.get('slug') %>/edit"><%= document.get('title') %></a>
                              </div>
                            </div>
                            <!-- Pages List -->
                            <ul class="card-list mt-2">
                              <!-- Page Cards -->
                              <% if (document && document.pages && Array.isArray(document.pages) && document.pages.length > 0) { %>
                                <% document.pages.forEach(function(page) { %>
                                  <li class="mb-2">
                                    <div class="card">
                                      <div class="card-body py-1">
                                        <!-- Drag Icon -->
                                        <div class="row gy-2">
                                          <div class="col-1">
                                            <span data-bs-toggle="tooltip" 
                                              data-bs-title="Drag and drop page to change order" 
                                              data-bs-custom-class="ds-tooltip" 
                                              class="material-symbols-outlined">
                                              drag_handle
                                            </span>
                                          </div>
                                          <!-- Page Title -->
                                          <div class="col-11 d-flex align-items-center">
                                            <span data-bs-toggle="tooltip" data-bs-title="Page" 
                                              data-bs-custom-class="ds-tooltip" class="material-symbols-outlined me-2">
                                              description
                                            </span>
                                            <a href="/page/edit/<%= page.get('slug') %>"><%= page.get('title') %></a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                <% }); %>
                              <% } %>
                            </ul>
                          </div>
                        </div>
                      </li>
                    <% }); %>  
                  </ul> 
                <% } else { %>
                <p>There are no documents.</p>
                <% } %>  
                <% if (project) { %>
                <a href="/project/<%= project.slug %>/document/create/" 
                  role="button" class="btn btn-12 btn-ds-primary">
                  Add a Document
                </a>    
                <% } %>         
              </div>
              <!-- Trash -->
              <div class="tab-pane fade" id="trash-pane" role="tabpanel" 
                aria-labelledby="trash-pane">
                <div class="table-responsive"> 
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="bold">Title</th>
                        <th class="bold">Date Deleted</th>
                        <th class="bold">Deleted by</th>
                        <th class="bold">Date Created</th>
                        <th class="bold">Created by</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (project && project.documents && project.documents.length > 0) { %>
                        <% project.documents.forEach(function(document) { %>
                          <% if (document.deleted) { %>
                            <tr>
                              <td><%= document.title %></td>
                              <td><%= document.deletedDate %></td>
                              <td><%= document.deletedBy %></td>
                              <td><%= document.createdDate %></td>
                              <td><%= document.createdBy %></td>
                            </tr>
                          <% } %>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Users -->
              <div class="tab-pane fade" id="users-pane" role="tabpanel" aria-labelledby="users-pane">
                <div class="table-responsive"> 
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="bold">Username</th>
                        <th class="bold">Display Name</th>
                        <th class="bold">Email</th>
                        <th class="bold">Role</th>
                        <th class="bold">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (project.users && Array.isArray(project.users) && project.users.length > 0) { %>
                        <% project.users.forEach(function(usr) { %>
                          <tr>
                            <td><%= usr.get('username') %></td>
                            <td><%= usr.get('firstName') %> <%= usr.get('lastName') %></td>
                            <td><%= usr.get('email') %></td>
                            <td>
                              <select class="form-select" name="role" id="role">
                                <option value="0" <%= usr.get('role') === 0 ? 'selected' : '' %>>Viewer</option>
                                <option value="1" <%= usr.get('role') === 1 ? 'selected' : '' %>>Editor</option>
                                <option value="2" <%= usr.get('role') === 2 ? 'selected' : '' %>>Admin</option>
                                <option value="3" <%= usr.get('role') === 3 ? 'selected' : '' %>>Owner</option>
                              </select>
                            </td>
                            <td>
                              <input class="form-check-input" type="checkbox" name="remove" id="remove">
                            </td>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-xxl-3 relative" id="action-panel">
            <div class="card mt-3" id="action-buttons">
              <div class="card-body">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button type="submit" id="saveProjectBtn" class="btn btn-block btn-outline-success">
                    Save Project
                  </button>
                  <% if (project) { %>
                  <button type="button" id="deleteProjectBtn" class="btn btn-block btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
                    Delete Project
                  </button>
                  <a href="/project/<%= project.slug %>"
                    role="button" class="btn btn-block btn-outline-secondary">
                    View Project
                  </a>
                  <% } %>
                </div>
                <div class="form-check form-switch mt-2">
                  <input class="form-check-input" type="checkbox" role="switch" name="isPublic" id="isPublic">
                  <label class="form-check-label bold" for="public">Make project public</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Project Modal -->
<% if (project) { %>
<%- include('../snippets/delete-project-modal.ejs') -%>
<% } %>  

<%- include('../baseFooter') -%>