<%- include('../baseHeader') -%>
  <!-- Main Content -->
  <div class="container main-content my-5">
    <!-- Tag Title -->
    <h1 class="mb-4">
      <%= tag.title %>
    </h1>

    <hr class="mt-4" />

    <!-- Projects -->
    <h4>Projects</h4>
    <p><em>
        <%= tag.projects.length %> project(s)
      </em></p>
    <div class="row gy-4">
      <% if (projects && projects.length > 0) { %>
        <% projects.forEach(function(project) { %>
          <div class="col-md-6 col-xl-4">
            <div class="card h-100 shadow-sm bg-light-gray">
              <div class="card-header">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/project/<%= project.slug %>"><%= project.title %></a>
                </h5>
                <h* class="card-subtitle">
                  <%= project.description %>
                </h*>
                <p class="card-text mt-2">
                  <strong>Last modified:</strong> <%= project.dateModified %>
                </p>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p class="text-center">
          <em>No projects associated with this tag.</em>
        </p>
      <% } %>
    </div>
  </div>
<%- include('../baseFooter') -%>