</tr>
<% if (users && users.length > 0) { %>
<% users.forEach(function(usr) { %>
  <tr>
    <td><%= usr.username %></td>
    <td><%= usr.first_name %> <%= usr.last_name %></td>
    <td><%= usr.email %></td>
    <td>
      <select name="role" id="role">
        <option value="0" <%= usr.role === 0 ? 'selected' : '' %>>Viewer</option>
        <option value="1" <%= usr.role === 1 ? 'selected' : '' %>>Editor</option>
        <option value="2" <%= usr.role === 2 ? 'selected' : '' %>>Admin</option>
        <option value="3" <%= usr.role === 3 ? 'selected' : '' %>>Owner</option>
      </select>
    </td>
    <td>
      <input type="checkbox" name="remove" id="remove">
    </td>
  </tr>
<% }); %>
<% } %>