<%- include('../baseHeader') -%>
<!-- Main Content -->
<div class="container main-content my-5">
  <h1>
    Dashboard
  </h1>

  <div class="row gy-4">
    <!-- Dashboard -->
    <div class="col-12 col-lg-8">

      <!-- Projects -->
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="text-center">Projects</h3>
        </div>
        <div class="card-body">
          <!-- Tabs: My Projects, Pinned Projects, Archived Projects -->
          <ul class="nav nav-tabs" id="assetsTablist" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link tab-link active" id="my-projects-tab" data-bs-toggle="tab"
                data-bs-target="#my-projects-pane" type="button" role="tab" aria-controls="my-projects-tab"
                aria-selected="true">
                My Projects
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link tab-link" id="pinned-projects-tab" data-bs-toggle="tab"
                data-bs-target="#pinned-projects-pane" type="button" role="tab" aria-controls="pinned-projects-tab"
                aria-selected="false">
                Pinned Projects
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link tab-link" id="archived-projects-tab" data-bs-toggle="tab"
                data-bs-target="#archived-projects-pane" type="button" role="tab" aria-controls="archived-projects-tab"
                aria-selected="false">
                Archived Projects
              </button>
            </li>
          </ul>
          <!-- Tab Panels -->
          <div class="tab-content mt-3" id="tabContent">
            <!-- My Projects Pane -->
            <div class="tab-pane fade show active" id="my-projects-pane" role="tabpanel"
              aria-labelledby="my-projects-pane">
              <% if (projects && projects.length > 0) { %>
                <ul class="list-group">
                  <!-- Loop through projects -->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3 col-xxl-2 d-none d-md-block">
                        <span class="material-symbols-outlined">keep</span>
                        <span class="material-symbols-outlined">tag</span>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                      </div>
                      <div class="col-12 col-md-9 col-xxl-10">
                        <a href="#">Project Title</a>
                      </div>
                    </div>
                  </li>
                  <!-- End of Loop-->
                </ul>
                <% } else { %>
                <p class="text-center">
                  <em>You don't have any projects yet.</em>
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                  <a class="btn btn-12 btn-ds-primary" role="button" href="/project/create">Create
                    a Project</a>
                </div>
                <% } %>
            </div>
            <!-- Pinned Projects Pane -->
            <div class="tab-pane fade" id="pinned-projects-pane" role="tabpanel" 
              aria-labelledby="pinned-projects-pane">
              <% if (true) { %>
                <ul class="list-group">
                  <!-- Loop through pinned projects -->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-3 col-md-2 d-none d-md-block">
                        <span class="material-symbols-outlined">keep</span>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                      </div>
                      <div class="col-12 col-md-9 col-xxl-10">
                        <a href="#">Project Title</a>
                      </div>
                    </div>
                  </li>
                  <!-- End Loop -->
                </ul>
                <% } else { %>
                <p class="text-center"><em>You don't have any pinned projects yet.</em></p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                  <a class="btn btn-12 btn-ds-primary" role="button" href="#">
                    Browse Projects
                  </a>
                </div>
                <% } %>
            </div>
          </div>
          <!-- Archived Projects Pane -->
          <div class="tab-pane fade" id="archived-projects-pane" role="tabpanel" 
            aria-labelledby="archived-projects-pane">
            <% if (trash) { %>
              <div class="table-responsive"> 
                <table class="table">
                  <thead>
                    <tr>
                      <th class="bold">Title</th>
                      <th class="bold">Date Archived</th>
                      <th class="bold">Deleted by</th>
                      <th class="bold">Date Created</th>
                      <th class="bold">Created by</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% projects.forEach(function(project) { %>
                      <% if (project.deleted) { %>
                        <tr>
                          <td><%= project.title %></td>
                          <td><%= project.deleted_at %></td>
                          <td><%= project.deleted_by %></td>
                          <td><%= project.created_at %></td>
                          <td><%= project.created_by %></td>
                        </tr>
                      <% } %>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Account -->
    <div class="col-md col-lg-4">
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="text-center">Account</h2>
        </div>
        <div class="card-body">
          <%- include('../snippets/account-form.ejs') -%>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-12 btn-ds-primary">Update Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../baseFooter') -%>
