<%- include('../baseHeader') -%>
<!-- Main Content -->
<div class="container main-content my-5">
  <h1>
    Profile
  </h1>

  <!-- Contact Information -->
  <div class="card shadow-sm">
    <div class="card-body">
      <h2><%= profile.firstName %> <%= profile.lastName %></h2>
      <% if (profile.profilePhotoUrl) { %>
      <img style="margin: 10px 0 10px 0; max-width: 10em;" src="<%= profile.profilePhotoUrl %>">
      <% } else { %>
      <img style="margin: 10px 0 10px 0; max-width: 10em;"
        src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
      <% } %>
      <br />
      <% if (profile.pronouns) { %>
      <p class="contact"><strong>Pronouns:</strong> <%= profile.pronouns %></p>
      <% } %>
      <% if (profile.title) { %>
      <p class="contact"><strong>Title:</strong> <%= profile.title %></p>
       <% } %>
      <p class="contact"><strong>Email:</strong> <a href="mailto:<%= profile.email %>"><%= profile.email %></a></p>
      <% if (profile.website) { %>
      <p class="contact"><strong>Website:</strong> 
        <a href="<%= user.website %>" target="_blank"><%= profile.website %></a>
      </p>
      <% } %>
      <% if (profile.bio) { %>
      <p class="contact"><strong>Bio:</strong> 
        <%= profile.bio %>
      <% } %>
      <% if (profile.id.toString() === user.id.toString()) { %>
      <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-md-start mt-4">
        <button type="button" class="btn btn-12 btn-ds-primary" data-bs-toggle="modal"
          data-bs-target="#updateProfileModal">
          Update Profile
        </button>
      </div>
      <% } %>
    </div>
  </div>

  <!-- Projects -->
  <hr class="mt-4" />
  <h4 class="mb-4">Projects</h4>
  <% if (projects && projects.length > 0) { %>
  <div class="row gy-4">
    <!-- Loop through projects -->
    <% projects.forEach(function(project) { %>
    <div class="col-md-6 col-xl-4">
      <div class="card h-100 shadow-sm">
        <div class="card-header">
          <div class="row">
            <div class="col text-end">
              <span class="material-symbols-outlined">keep</span>
              <span class="material-symbols-outlined">tag</span>
              <span class="material-symbols-outlined">edit</span>
              <span class="material-symbols-outlined">delete</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="#"><%= project.title %></a>
          </h5>
          <h* class="card-subtitle">
            <%= project.subtitle %>
          <p class="card-text mt-2">
            <strong>Last modified</strong>: <%= project.dateModified %>
          </p>
        </div>
        <div class="card-footer border-top-0 mb-2 bg-white">
          <a class="btn btn-ds-primary" href="/project/<%= project.slug %>">View Project</a>
        </div>
      </div>
    </div>
    <!-- End loop -->
    <% }); %>
  </div>
  <%  } else { %>
  <div class="col-md-6 col-xl-3">
    <div class="card h-100 shadow-sm">
      <div class="card-header text-center">
        <% if (profile.id.toString() === user.id.toString()) { %>
        <p>
          <em>You haven't published any projects yet.</em>
        </p>
        <div class="d-grid gap-2 d-md-flex mb-2 justify-content-center">
          <a class="btn btn-ds-primary btn-12" role="button" href="/project/create">
            Create a Project
          </a>
        </div>
        <% } else { %>
        <p><em>profile.firstName hasn't published any projects yet.</em></p>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>

  <!-- Update Profile Form Modal -->
  <div class="modal fade" id="updateProfileModal" name="updateProfileModal" tabindex="-1"
    aria-labelledby="updateProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="updateProfileModalLabel">Update Profile</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Profile Form -->
          <div id="update_profile_form">
            <form method="POST" target="_self">
              <%- include('../snippets/profile-form.ejs') -%>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-ds-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../baseFooter') -%>