<!-- Truncate Function -->

<% function truncate(str, maxLength) {
    if (str.length > maxLength) {
        return str.slice(0, maxLength) + '...';
    } else {
        return str;
    }
  } %>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% if (project) { %> 
      <li class="breadcrumb-item">
        <span data-bs-toggle="tooltip" data-bs-title="Project" 
          data-bs-custom-class="ds-tooltip" class="material-symbols-outlined me-2">
        empty_dashboard
        </span>
        <a href="/project/<%= project.slug %>/edit">
        <%= truncate(project.title, 100) %></a>
      </li>
      <% } %>
      <% if (document) { %> 
      <li class="breadcrumb-item">
        <span data-bs-toggle="tooltip" data-bs-title="Document" 
        data-bs-custom-class="ds-tooltip" class="material-symbols-outlined me-2">
        folder_open
        </span>
        <a href="/project/<%= project.slug %>/<%= document.slug %>/edit">
        <%= truncate(document.title, 100) %></a>
      </li>
      <% } %>
      <% if (page) { %> 
      <li class="breadcrumb-item">
        <span data-bs-toggle="tooltip" data-bs-title="Page" 
        data-bs-custom-class="ds-tooltip" class="material-symbols-outlined me-2">
        description
        </span>
        <a href="#">
        <%= truncate(page.title, 100) %></a>
      </li>
      <% } %>
    </ol>
  </nav>