
<div class="row">
  <!-- Title -->
  <div class="col">
    <h1 class="text-start light">
      <%= document.title %>
    </h1>
  </div>
  <!-- Edit Button -->
  <% if (user && user.id ) { %>
    <% const minRole = 1; %>
    <% console.log('User ID:', user.id); %>
    <% console.log('Project Users:', project.users); %>
    <% const userFound = project.users.some(userObj => {
        return userObj.get('id').toString() === user.id.toString() && userObj.get('role') >= minRole;
    }); %>
    <% console.log('User Found:', userFound); %>
    <% if (userFound) { %>
    <div class="col-auto">
      <a href="/project/<%= project.slug %>/<%= document.slug %>/edit" class="text-decoration-none">
        <span class="material-symbols-outlined">
          edit
        </span>
      </a>
    </div>
    <% } %>
<% } %>
</div>
<div>
  <%= document.description %>
</div>
<hr>
<h2 class="fs-6 text-uppercase light">
  Table of Contents
</h2>
<% if (document && Array.isArray(document.pages) && document.pages.length > 0) { %>
<ul>
  <% document.pages.forEach(function(page) { %>
  <li>
    <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.get('slug') %>">
      <%= page.get('title') %>
    </a>
  </li>
  <% }); %>
</ul>
<% } %>

