
<div class="row">
  <div class="col">
    <h1 class="text-start light">
      <%= document.title %>
    </h1>
  </div>
  <div class="col-auto">
    <a href="/project/<%= project.title %>/edit" class="text-decoration-none">
      <span class="material-symbols-outlined">
        edit
      </span>
    </a>
  </div>
</div>
<div>
  <%= document.description %>
</div>
<hr>
<h2 class="fs-6 text-uppercase light">
  Table of Contents
</h2>
<% if (document && Array.isArray(document.pages) && documents.pages.length > 0) { %>
<ul>
  <% document.pages.forEach(function(page) { %>
  <li>
    <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.get('slug') %>">
      <%= page.get('title') %>/
    </a>
  </li>
  <% }); %>
</ul>
<% } %>

