<div class="row">
  <div class="col">
    <h1 class="text-start light mb-2">
      <%= project.title %>
    </h1>
    <% if (project.subtitle) { %>
    <h2>
      <%= project.subtitle %>
    </h2>
    <% } %>
  </div>
  <% if (user && user.id ) { %>
    <% const minRole = 1; %>
    <% const userFound = project.users.some(user => user.get('id') === user.id && user.get('role') >= minRole); %>
    <% if (userFound) { %>
    <div class="col-auto">
      <a href="/project/<%= project.title %>/edit" class="text-decoration-none">
        <span class="material-symbols-outlined">
          edit
        </span>
      </a>
    </div>
    <% } %>
  <% } %>
</div>
<div class="mt-4">
  <%= project.description %>
</div>
<p class="mt-4">
  <span class="bold">Collaborators</span>:
  <% if (project && project.users && project.users.length > 0) { %>
    <% let userIndex = 0; %>

    <% project.users.forEach(function(user, userIndex) { %>
        <% console.log(user); %>
        <a href="/profile/<%= user.get('username') %>">
          <%= user.get('firstName') %> <%= user.get('lastName') %>
        </a>
      <% if (userIndex !== project.users.length - 1) { %>, <% } %>
      <% userIndex++; %>
    <% }); %>
  <% } %>
</p>
<div class="mt-4">
  <% if (project && project.tags && project.tags.length > 0) { %>
    <% project.tags.forEach(function(tag) { %>
      <a href="/tag/<$= tag.get('slug') %>"> 
        <span class="badge rounded-pill bg-ds-primary me-1">
          <%= tag.get('title') %>
        </span>
      </a>
    <% }); %>
  <% } %>
</div>
<hr>
<h3 class="fs-6 text-uppercase light">
  Table of Contents
</h3>

<% if (project && project.documents && project.documents.length > 0) { %>
  <ol>
    <% project.documents.forEach(function(document) { %>
      <li>
        <a href="/project/<%= project.slug %>/<%= document.slug %>">
          <%= document.title %>
        </a>
        <% if (document && documents.pages.length > 0) { %>
          <ul>
            <% document.pages.forEach(function(page) { %>
              <li>
                <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.slug %>">
                  <%= page.title %>/
                </a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
  </ol>
<% } %>
