<h1 class="fs-6 text-start mb-2">
  <%= project.title %>
</h1>
<!-- Check there are documents -->
<% if (project && project.documents && project.documents.length > 0) { %>
  <% project.documents.forEach(function(doc) { %>
    <!-- Check that document has more than one page -->
    <% if (doc.pages && doc.pages.length > 0) { %>
      <!-- Check that document is active -->
      <% if (document && document.id.toString() === doc.id.toString()) { %>
        <a href="/project/<%= project.slug %>/<%= doc.slug %>" role="button" class="dropdown-btn ml-auto active">
      <% } else { %>
        <a href="/project/<%= project.slug %>/<%= doc.slug %>" role="button" class="dropdown-btn ml-auto">
      <% } %>
        <div class="row">
          <div class="col-10">
            <%= doc.title %>
          </div>
          <div class="col-2 d-flex justify-content-end">
            <i class="fa fa-caret-down align-top"></i>
          </div>
        </div>
      </a>
      <div class="dropdown-container">
        <% doc.pages.forEach(function(pg) { %>
          <% if (page && page.id.toString() === pg.id.toString()) { %>
            <a href="/project/<%= project.slug %>/<%= doc.slug %>/<%= pg.slug %>" active>
          <% } else { %>
            <a href="/project/<%= project.slug %>/<%= doc.slug %>/<%= pg.slug %>">
          <% } %>
              <%= pg.title %>
            </a>
        <% }); %>
      </div>
    <% } else { %>
      <!-- Single-page document -->
      <!-- Check that document is active -->
      <% if (document && document.id.toString() === doc.id.toString()) { %>
        <a href="/project/<%= project.slug %>/<%= doc.slug %>" active>
      <% } else { %>
        <a href="/project/<%= project.slug %>/<%= doc.slug %>">
      <% } %>
          <%= doc.title %>
        </a>
    <% } %>
  <% }); %>
<% } %>
