<div class="row">
  <!-- Title -->
  <div class="col">
    <h1 class="text-start light mb-2">
      <%= project.title %>
    </h1>
    <% if (project.subtitle) { %>
    <h2>
      <%= project.subtitle %>
    </h2>
    <% } %>
  </div>
  <!-- Edit Button -->
  <% if (user && user.id ) { %>
    <% const minRole = 1; %>
    <% console.log('User ID:', user.id); %>
    <% console.log('Project Users:', project.users); %>
    <% const userFound = project.users.some(userObj => {
        return userObj.user.toString() === user.id.toString() && userObj.role >= minRole;
    }); %>
    <% console.log('User Found:', userFound); %>
    <% if (userFound) { %>
    <div class="col-auto">
      <a href="/project/<%= project.slug %>/edit" class="text-decoration-none">
        <span class="material-symbols-outlined">
          edit
        </span>
      </a>
    </div>
    <% } %>
<% } %>
</div>
<div class="mt-4">
  <%= project.description %>
</div>
<p class="mt-4">
  <span class="bold">Collaborators</span>:
  <% if (project && project.users && project.users.length > 0) { %>
    <% let userIndex = 0; %>

    <% project.users.forEach(function(usr, userIndex) { %>
      <% if (userIndex !== project.users.length - 1) { %>
        <a href="/profile/<%= usr.user?.username %>"><%= usr.user?.firstName %> <%= usr.user?.lastName %></a>,
      <% } else { %>
        <a href="/profile/<%= usr.user?.username %>"><%= usr.user?.firstName %> <%= usr.user?.lastName %></a>
      <% } %>
      <% userIndex++; %>
    <% }); %>
  <% } %>
</p>
<div class="mt-4">
  <% if (project && project.tags && project.tags.length > 0) { %>
    <% project.tags.forEach(function(tag) { %>
      <a href="/tag/<%= tag.slug %>" 
        class="badge badge-tag bg-ds-primary me-1">
        <%= tag.title %>
      </a>
    <% }); %>
  <% } %>
</div>
<hr>
<h3 class="fs-6 text-uppercase light">
  Table of Contents
</h3>

<% if (project && project.documents && Array.isArray(project.documents) && project.documents.length > 0) { %>
  <ol>
    <% project.documents.forEach(function(document) { %>
      <li>
        <a href="/project/<%= project.slug %>/<%= document.slug %>">
          <%= document.title %>
        </a>
        <% if (document && Array.isArray(document.pages) && document.pages.length > 0) { %>
          <ul>
            <% document.pages.forEach(function(page) { %>
              <li>
                <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.slug %>">
                  <%= page.title %>
                </a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
  </ol>
<% } %>
