<div class="row">
  <div class="col">
    <h1 class="text-start light">
      <%= project.title %>
    </h1>
    <% if (project.subtitle) { %>
    <h2>
      <%= project.subtitle %>
    </h2>
    <% } %>
  </div>
  <% if (user.id ) { %>
  <div class="col-auto">
    <a href="/project/<%= project.title %>/edit" class="text-decoration-none">
      <span class="material-symbols-outlined">
        edit
      </span>
    </a>
  </div>
  <% } %>
</div>
<div>
  <%= project.description %>
</div>
<hr>
<h3 class="fs-6 text-uppercase light">
  Table of Contents
</h3>

<% if (project && project.documents && project.documents.length> 0) { %>
  <ol>
    <% project.documents.forEach(function(document) { %>
      <li>
        <a href="/project/<%= project.slug %>/<%= document.slug %>">
          <%= document.title %>
        </a>
        <% if (document && documents.pages.length> 0) { %>
          <ul>
            <% document.pages.forEach(function(page) { %>
              <li>
                <a href="/project/<%= project.slug %>/<%= document.slug %>/<%= page.slug %>">
                  <%= page.title %>/
                </a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
  </ol>
<% } %>
